<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Basic Form</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">First Name</label>
              <div class="col-sm-11">
                <mat-form-field>
                  <input matInput placeholder="First Name">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">Last Name</label>
              <div class="col-sm-11">
                <mat-form-field>
                  <input matInput placeholder="Last Name">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <label class="col-sm-2 inori-form-lable">电子邮件</label>
              <div class="col-sm-10">
                <mat-form-field>
                  <input matInput placeholder="Email">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label class="col-sm-2 inori-form-lable">商品类别</label>
              <div class="col-sm-10">
                <mat-form-field>
                  <mat-select placeholder="商品类别">
                    <mat-option>
                      商品类别1
                    </mat-option>
                    <mat-option>
                      商品类别2
                    </mat-option>
                    <mat-option>
                      商品类别3
                    </mat-option>
                    <mat-option>
                      商品类别4
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">单项选择</label>
              <div class="col-sm-11">
                <div class="inori-form-single">
                  <mat-radio-group>
                    <mat-radio-button value="1" color="primary">Option 1</mat-radio-button>
                    <mat-radio-button value="2" color="primary">Option 2</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">复选框</label>
              <div class="col-sm-11">
                <section class="inori-form-secion">
                  <mat-checkbox color="primary">Checked</mat-checkbox>
                  <mat-checkbox color="primary">Indeterminate</mat-checkbox>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">复选框 2</label>
              <div class="col-sm-11">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">日期控件</label>
              <div class="col-sm-11">
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">工作日控件</label>
              <div class="col-sm-11">
                <mat-form-field>
                  <mat-label>请选择日期</mat-label>
                  <input matInput [matDatepickerFilter]="workingDayFilter" [matDatepicker]="workingDayPicker">
                  <mat-datepicker-toggle matSuffix [for]="workingDayPicker"></mat-datepicker-toggle>
                  <mat-datepicker #workingDayPicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-1 inori-form-lable">日期范围控件</label>
              <div class="col-sm-11">
                <mat-form-field>
                  <mat-label>请选择日期From</mat-label>
                  <input matInput [matDatepicker]="FromDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="FromDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #FromDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>请选择日期To</mat-label>
                  <input matInput [matDatepickerFilter]="FromToDateFilter" [matDatepicker]="ToDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="ToDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #ToDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button mat-raised-button type="button" class="btn btn-rose">Left Button 3</button>
        <button mat-raised-button type="button" class="btn btn-rose">Left Button 2</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Basic Form 2</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Last Name">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Email">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <mat-select placeholder="商品类别">
                <mat-option>
                  商品类别1
                </mat-option>
                <mat-option>
                  商品类别2
                </mat-option>
                <mat-option>
                  商品类别3
                </mat-option>
                <mat-option>
                  商品类别4
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="card-footer">
        <button mat-raised-button type="button" class="btn btn-rose">Left Button 3</button>
        <button mat-raised-button type="button" class="btn btn-rose">Left Button 2</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Search Form 2</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Last Name">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Email">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <mat-select placeholder="商品类别">
                <mat-option>
                  商品类别1
                </mat-option>
                <mat-option>
                  商品类别2
                </mat-option>
                <mat-option>
                  商品类别3
                </mat-option>
                <mat-option>
                  商品类别4
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="card-footer ml-auto">
        <button mat-raised-button type="button" class="btn btn-rose">Button 1</button>
        <button mat-raised-button type="button" class="btn btn-rose">Button 2</button>
        <button mat-raised-button type="button" class="btn btn-rose">Button 3</button>
        <button mat-raised-button type="button" class="btn btn-rose">Button 4</button>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
